<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class=" mb-4">
        Sistema de Gerenciamento de Trilhas
      </h1>
      <p class="lead mb-4">
        Bem-vindo ao Sistema de Gerenciamento de Trilhas!
        Sistema perfeito para organizar suas trilhas.
        E apenas tirar de melhor da natureza.
      </p>
      <p class="text-center">
        Com esse sistema você pode:
      </p>
      <div class="specifications-box">
        <ul class="list-group">
          <li class="list-group-item">Adicionar novas trilhas</li>
          <li class="list-group-item">Visualizar trilhas existentes</li>
          <li class="list-group-item">Atualizar trilhas (em andamento, concluídas, etc...)</li>
          <li class="list-group-item">Excluir trilhas que já foram concluídas ou não são mais necessárias</li>
        </ul>
      </div>
      <p class="text-center mt-4">
        Comece agora mesmo a organizar suas trilhas de forma eficiente!!!
      </p>
    </div>
  </div>
</div>
